<div class="form registrations col-md-6 offset-md-3">
  <h1 class="text-center">
    <%= t("merchant.registrations.title") %>
  </h1>
  <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
    <div class="mb-3 errors">
      <%= render "shared/form_errors", object: f.object %>
    </div>
    <div class="mb-3 extensions">
      <%= f.text_field :shop_name, value: @shop_name, placeholder: t("merchant.registrations.shop_name"),
        class: "form-control input-lg" %>
    </div>
    <div class="mb-3">
      <%= f.email_field :email, autofocus: true, placeholder: t("merchant.registrations.email"),
        class: "form-control input-lg" %>
    </div>

    <div class="mb-3">
      <%= f.password_field :password, autocomplete: "off", placeholder: t("merchant.registrations.password"),
        class: "form-control input-lg" %>
    </div>

    <div class="mb-3 loading pull-left d-none">
      <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
      <span><%= I18n.t "messages.setup" %></span>
    </div>

    <div class="mb-3">
      <%= f.submit t("merchant.registrations.submit"), class: "btn btn-lg btn-success pull-right" %>
    </div>
  <% end %>
</div>

<%= javascript_tag do %>
  $('#new_merchant').submit(function(e) {
    e.preventDefault();

    var data = $('#new_merchant').serialize();
    $.ajax({
      url: '<%= merchant_registration_path %>',
      data: data,
      method: "POST",
      success: function(response) {
        $('#new_merchant').find('.errors').empty();
        window.location = response.redirect_url);
      },
      beforeSend: function() {
        $("#new_merchant").find('.loading').removeClass('d-none');
      },
      error: function(xhr) {
        $("#new_merchant").find('.loading').addClass('d-none');
        html = '<ul class="alert alert-warning">';
        xhr.responseJSON.errors.forEach(function(error) {
          html+= '<li>' + error + '</li>';
        })
        html += '</ul>';
        $('#new_merchant').find('.errors').html(html);
      }
    })
  })
<% end %>
