<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= display_meta_tags site: current_shop.name %>
    <meta name="google-site-verification" content="<%= current_shop.google_verification_code %>"/>
    <meta name="naver-site-verification" content="<%= current_shop.naver_verification_code %>"/>
    <%= stylesheet_pack_tag "customer/application", media: "all" %>

    <%= render "customer/layouts/stylesheets" %>
    <%= render "customer/layouts/javascripts" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_merchant.present? %>
      <div class="alert text-center alert-dismissible">
        <ul>
          <li><%= link_to t("merchant.admin.buttons.manage_store"), merchant_root_url(subdomain: current_merchant.shop.subdomain), class: "btn btn-success" %></li>
        </ul>
      </div>
    <% end %>

    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
