<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= display_meta_tags site: current_shop.name %>
    <%= javascript_include_tag "http://dmaps.daum.net/map_js_init/postcode.v2.js", "data-turbolinks-track": true %>
    <%= stylesheet_link_tag "customer/application", media: "all", "data-turbolinks-track": true %>

    <% if Rails.env.staging? %>
      <%= javascript_include_tag "customer/themes/#{current_theme.directory}/templates/template", "data-turbolinks-track": true %>
    <% else %>
      <%= javascript_include_tag customer_templates_path, "data-turbolinks-track": true %>
    <% end %>

    <%= javascript_include_tag "customer/application", "data-turbolinks-track": true %>

    <% if Rails.env.development? %>
      <%= stylesheet_link_tag "customer/themes/#{current_theme.directory}/application", "data-turbolinks-track": true %>
      <%= javascript_include_tag "customer/themes/#{current_theme.directory}/application", "data-turbolinks-track": true %>
    <% else %>
      <%= javascript_include_tag customer_locale_path, "data-turbolinks-track": true %>
      <%= javascript_include_tag customer_scripts_path, "data-turbolinks-track": true %>
      <%= stylesheet_link_tag customer_styles_path, media: "all", "data-turbolinks-track": true %>
    <% end %>


    <%= yield :inicis_javascript  %>
    <%= csrf_meta_tags %>

    <%= javascript_tag do %>
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.currency = "<%= current_currency %>";
      I18n.rate = "<%= current_shop.exchange_rate.blank? ? 1000 : current_shop.exchange_rate %>";
    <% end %>
  </head>
  <body>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
