<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "customer/application", media: "all", "data-turbolinks-track": true %>
    <%= stylesheet_link_tag customer_styles_path, media: "all", "data-turbolinks-track": true %>

    <% if I18n.locale == :ko %>
      <%= javascript_include_tag "http://dmaps.daum.net/map_js_init/postcode.v2.js", "data-turbolinks-track": true %>
    <% end %>
    <%= javascript_include_tag "customer/themes/#{current_theme.directory}/application",
      "data-turbolinks-track": true %>
    <%= javascript_include_tag customer_scripts_path, "data-turbolinks-track": true %>
    <% if I18n.locale == :ko %>
      <%= javascript_include_tag customer_ko_path, "data-turbolinks-track": true %>
    <% else %>
      <%= javascript_include_tag customer_en_path, "data-turbolinks-track": true %>
    <% end %>

    <%= yield :inicis_javascript  %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
  </head>
  <body>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
