<div class="merchant-logo">
  <%= link_to merchant_root_url(subdomain: current_shop.subdomain) do %>
    <%= image_tag asset_url("logo-inverse.png"), class: "logo" %>
    <%= image_tag asset_url("logo-icon.png"), class: "logo icon" %>
    <div class="clearfix"></div>
  <% end %>
</div>

<nav class="navigation">
  <ul>
    <%= link_to merchant_root_path do %>
      <li class="item">
        <i class="fa fa-home"></i>
        <span class="item-label"><%= t "merchant.admin.menu.dashboard" %></span>
      </li>
    <% end %>

    <%= link_to merchant_orders_path do %>
      <li class="item">
        <i class="fa fa-shopping-cart"></i>
        <span class="item-label"><%= t "merchant.admin.menu.orders" %></span>
      </li>
    <% end %>

    <%= link_to merchant_customers_path do %>
      <li class="item">
        <i class="fa fa-users"></i>
        <span class="item-label"><%= t "merchant.admin.menu.customers" %></span>
      </li>
    <% end %>

   <%= link_to merchant_products_path do %>
      <li class="item">

        <i class="fa fa-tags"></i>
        <span class="item-label"><%= t "merchant.admin.menu.products" %></span>
      </li>
    <% end %>

    <%= link_to merchant_categories_path do %>
      <li class="item">
        <i class="fa fa-cubes"></i>
        <span class="item-label"><%= t "merchant.admin.menu.categories" %></span>
      </li>
    <% end %>

    <li class="item">
      <%= link_to "javascript:void(0)" do %>
        <i class="fa fa-truck"></i>
        <span class="item-label"><%= t "merchant.admin.menu.shipping" %></span>
      <% end %>

      <ul class="subitems">
        <%= link_to merchant_shipping_rates_path do %>
          <li>
            <i class="fa fa-won"></i>
            <%= t "merchant.admin.menu.shipping_rates" %>
          </li>
        <% end %>
      </ul>
    </li>

    <li class="item">
      <%= link_to "javascript:void(0)" do %>
        <i class="fa fa-list-alt"></i>
        <span class="item-label"><%= t "merchant.admin.menu.reports" %></span>
      <% end %>

      <ul class="subitems">
        <%= link_to order_merchant_reports_path do %>
          <li>
            <i class="fa fa-line-chart"></i>
            <%= t "merchant.admin.menu.order_report" %>
          </li>
        <% end %>
        <%= link_to product_merchant_reports_path do %>
          <li>
            <i class="fa fa-bar-chart"></i>
            <%= t "merchant.admin.menu.product_report" %>
          </li>
        <% end %>
        <%= link_to payment_merchant_reports_path do %>
          <li>
            <i class="fa fa-pie-chart"></i>
            <%= t "merchant.admin.menu.payment_report" %>
          </li>
        <% end %>
      </ul>
    </li>

    <%= link_to merchant_custom_pages_path do %>
      <li class="item">
        <i class="fa fa-file-text"></i>
        <span class="item-label"><%= t "merchant.admin.menu.pages" %></span>
      </li>
    <% end %>

    <%= link_to merchant_menus_path do %>
      <li class="item">
        <i class="fa fa-sitemap"></i>
        <span class="item-label"><%= t "merchant.admin.menu.navigation" %></span>
      </li>
    <% end %>

    <li class="item">
      <%= link_to "javascript:void(0)" do %>
        <i class="fa fa-th-large"></i>
        <span class="item-label"><%= t "merchant.admin.menu.design" %></span>
      <% end %>

      <ul class="subitems">
        <%= link_to edit_merchant_design_general_path do %>
          <li>
            <i class="fa fa-globe"></i>
            <%= t "merchant.admin.menu.general" %>
          </li>
        <% end %>

        <%= link_to merchant_design_themes_path do %>
          <li>
            <i class="fa fa-magic"></i>
            <%= t "merchant.admin.menu.themes" %>
          </li>
        <% end %>

        <%= link_to merchant_banners_path do %>
          <li>
            <i class="fa fa-caret-square-o-right"></i>
            <%= t "merchant.admin.menu.banners" %>
          </li>
        <% end %>

        <%= link_to merchant_editor_path do %>
          <li>
            <i class="fa fa-code"></i>
            <%= t "merchant.admin.menu.editor" %>
          </li>
        <% end %>

        <%= link_to merchant_email_templates_path do %>
          <li>
            <i class="fa fa-envelope-o"></i>
            <%= t "merchant.admin.menu.email_templates" %>
          </li>
        <% end %>
      </ul>
    </li>

    <li class="item">
      <%= link_to "javascript:void(0)" do %>
        <i class="fa fa-gear"></i>
        <span class="item-label"><%= t "merchant.admin.menu.settings" %></span>
      <% end %>
      <ul class="subitems">
        <%= link_to edit_merchant_shop_path(current_shop) do %>
          <li>
            <i class="fa fa-globe"></i>
            <%= t "merchant.admin.menu.general_settings" %>
          </li>
        <% end %>
        <%= link_to merchant_payment_method_shops_path do %>
          <li>
            <i class="fa fa-money"></i>
            <%= t "merchant.admin.menu.payment_settings" %>
          </li>
        <% end %>
        <%= link_to merchant_account_path do %>
          <li>
            <i class="fa fa-user"></i>
            <%= t "merchant.admin.menu.user_settings" %>
          </li>
        <% end %>
      </ul>
    </li>

    <li class="item">
      <%= link_to "javascript:void(0)" do %>
        <i class="fa fa-code"></i>
        <span class="item-label"><%= t "merchant.admin.menu.developers" %></span>
      <% end %>
      <ul class="subitems">
        <%= link_to merchant_credentials_path do %>
          <li>
            <i class="fa fa-user-secret"></i>
            <%= t "merchant.admin.menu.credentials" %>
          </li>
        <% end %>
      </ul>
    </li>

    <%= render "layouts/shopstory_ticket/menu" %>
  </ul>
</nav>
