<div class="top-bar container-fluid">
  <button class="navbar-toggler pull-left" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="search">
    <%= react_component "Search" %>
  </div>

  <div class="nav navbar-nav navbar-right pull-right">
    <li class="d-block d-sm-none">
      <a data-no-turbolink="true" href="?locale=ko">KO</a>
      <a data-no-turbolink="true" href="?locale=en">EN</a>
    </li>
    <li class="d-none d-sm-block">
      <a data-no-turbolink="true" href="?locale=ko"><%= t "menu.korean" %></a>
      <a data-no-turbolink="true" href="?locale=en"><%= t "menu.english" %></a>
    </li>
    <li class="d-block d-sm-none">
      <%= link_to shop_url, "data-no-turbolink": true do %>
        <i class="fa fa-eye"></i>
      <% end %>
    </li>
    <li class="d-none d-sm-block">
      <%= link_to t("merchant.admin.menu.view_shop"), shop_url %>
    </li>
    <% unless Rails.env.development? %>
      <li>
        <a id="Intercom"></a>
      </li>
    <% end %>
    <li>
      <%= link_to destroy_merchant_session_path, method: :delete do %>
        <i class="fa fa-power-off"></i>
      <% end %>
    </li>
  </div>
</div>
