<div class="top-bar container-fluid">
  <button class="navbar-toggler pull-left" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="search">
    <%= react_component "Search" %>
  </div>

  <div class="nav navbar-nav navbar-right pull-right">
    <li class="d-block d-sm-none">
      <a data-no-turbolink="true" href="?locale=ko">KO</a>
      <a data-no-turbolink="true" href="?locale=en">EN</a>
    </li>
    <li class="d-none d-sm-block">
      <a data-no-turbolink="true" href="?locale=ko"><%= t "menu.korean" %></a>
      <a data-no-turbolink="true" href="?locale=en"><%= t "menu.english" %></a>
    </li>
    <li class="d-block d-sm-none">
      <%= link_to shop_url, "data-no-turbolink": true do %>
        <i class="fa fa-eye"></i>
      <% end %>
    </li>
    <li class="d-none d-sm-block">
      <%= link_to t("merchant.admin.menu.view_shop"), shop_url, data: {turbolinks: false} %>
    </li>
    <% unless Rails.env.development? %>
      <li>
        <a id="Intercom"></a>
      </li>
    <% end %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle avatar"
        data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">
        <%= image_tag current_shop.logo.thumb.url, alt: current_shop.name %>
      </a>
      <ul class="dropdown-menu">
        <li>
          <i class="fa fa-power-off"></i>
          <span>
            <%= link_to t("merchant.admin.menu.logout"), destroy_merchant_session_path %>
          </span>
        </li>
      </ul>
    </li>
  </div>
</div>
