<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <%= stylesheet_link_tag "merchant/application", media: "all", "data-turbolinks-track": true %>
    <%= javascript_include_tag "merchant/application", "data-turbolinks-track": true %>
    <%= javascript_include_tag "http://dmaps.daum.net/map_js_init/postcode.v2.js", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
  </head>
  <body>
    <aside class="left-panel">
      <%= render "merchant/layouts/side_bar" %>
    </aside>
    <section class="content">
      <%= render "merchant/layouts/top_bar" %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
