<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag asset_pack_path("static/images/favicon.ico") %>

    <%= javascript_tag do %>
      var SingularCart = {};
      SingularCart.defaultLocale = "<%= I18n.default_locale %>";
      SingularCart.locale = "<%= I18n.locale %>";
    <% end %>

    <%= javascript_pack_tag "merchant/application" %>
    <%= stylesheet_pack_tag "merchant/application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <aside class="left-panel">
      <%= render "merchant/layouts/side_bar" %>
    </aside>
    <section class="content">
      <%= render "merchant/layouts/top_bar" %>
      <div class="container-fluid main-wrapper">
        <%= yield %>
      </div>
    </section>
    <% if Rails.env.production? %>
      <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/668e506dc3fb85929e3d90a1/1i2dukb7u';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
      </script>
    <% end %>
  </body>
</html>
