<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= javascript_pack_tag "merchant/application" %>
    <%= stylesheet_pack_tag "merchant/application" %>

    <%= javascript_include_tag "http://dmaps.daum.net/map_js_init/postcode.v2.js", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <aside class="left-panel">
      <%= render "merchant/layouts/side_bar" %>
    </aside>
    <section class="content">
      <%= render "merchant/layouts/top_bar" %>
      <div class="container-fluid main-wrapper">
        <%= yield %>
      </div>
    </section>

    <% unless Rails.env.development? %>
      <%= intercom_script_tag({
        user_id: current_merchant.id,
        email: current_merchant.email,
        name: "#{current_merchant.first_name} #{current_merchant.last_name}",
        created_at: current_merchant.created_at,
        custom_data: {
          plan: current_merchant.subscription.try(:plan).try(:name)
        }
      }) %>
    <% end %>
  </body>
</html>
