<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <li>
            <%= link_to admin_root_path do %>
                <i class="glyphicon glyphicon-home"></i> <%= t "admin.menu.dashboard" %></a>
            <% end %>
        </li>
        <li>
            <%= link_to admin_plans_path do %>
                <i class="glyphicon glyphicon-list-alt"></i> <%= t "admin.menu.plans" %></a>
            <% end %>
        </li>
        <li>
            <%= link_to admin_shipping_methods_path do %>
                <i class="glyphicon glyphicon-road"></i> <%= t "admin.menu.shipping_methods" %></a>
            <% end %>
        </li>
        <li>
            <%= link_to admin_themes_path do %>
                <i class="glyphicon glyphicon-tint"></i> <%= t "admin.menu.themes" %></a>
            <% end %>
        </li>
    </ul>
</div>
