<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= javascript_pack_tag "admin/application" %>
    <%= stylesheet_pack_tag "admin/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "admin/layouts/header" %>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
