<div class="row">
        <div class="col-sm-8">
          <div class="block">
            <h3>#<%= @product_order.id %></h3>
            <p><%= I18n.t("activerecord.attributes.order.status") %>: <%= @product_order.status.upcase %></p>

            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <% @product_order.order_products.each do |op| %>
                    <tr>
                      <td>
                        <%=  wicked_pdf_image_tag op.variation.variation_image.thumb.url, size: "50x50", class: "img-responsive" %>
                      </td>
                      <td>
                        <%= op.variation.name_ko %>
                      </td>
                      <td>
                        <%= "#{@product_order.currency} #{op.unit_price}" %>
                      </td>
                      <td>
                        <%= op.quantity %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
                <tfoot>
                  <tr>
                    <td colSpan="3" class="text-right">
                      <p><%= I18n.t("activerecord.attributes.order.subtotal") %></p>
                      <p><%= I18n.t("activerecord.attributes.order.shipping") %></p>
                      <p><%= I18n.t("activerecord.attributes.order.tax") %></p>
                      <p><b><%= I18n.t("activerecord.attributes.order.total") %></b></p>
                    </td>
                    <td>
                      <p><%= "#{@product_order.currency} #{@product_order.subtotal}" %></p>
                      <p><%= "#{@product_order.currency} #{@product_order.shipping}" %></p>
                      <p><%= "#{@product_order.currency} #{@product_order.tax}" %></p>
                      <p><b><%= "#{@product_order.currency} #{@product_order.total}" %></b></p>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="block">
            <h3><%= I18n.t("activerecord.attributes.order.payment") %></h3>
            <% @transaction_info.each do |info| %>
              <% if info[:show_admin] != false %>
                <p><b><%= info[:label] %></b>: <%= info[:value] %></p>
              <% end %>
            <% end %>
          </div>

          <div class="block">
            <h3><%= I18n.t("activerecord.attributes.order.shipping_address") %></h3>
            <p><%= "#{@product_order.shipping_address.first_name} #{@product_order.shipping_address.last_name}" %></p>
            <p><%= @product_order.shipping_address.email %></p>
            <p><%= @product_order.shipping_address.phone_number %></p>
            <p><%= "#{@product_order.shipping_address.state} #{@product_order.shipping_address.city} #{@product_order.shipping_address.country} - #{@product_order.shipping_address.zip_code}" %></p>
            <p><%= @product_order.shipping_address.address1%></p>
            <p><%= @product_order.shipping_address.address2 %></p>
            <p><%= @product_order.shipping_address.fax %></p>
          </div>

          <div class="block">
            <h3><%= I18n.t("activerecord.attributes.order.billing_address") %></h3>
            <p><%= "#{@product_order.billing_address.first_name} #{@product_order.billing_address.last_name}" %></p>
            <p><%= @product_order.billing_address.email %></p>
            <p><%= @product_order.billing_address.phone_number %></p>
            <p><%= "#{@product_order.billing_address.state} #{@product_order.billing_address.city} #{@product_order.billing_address.country} - #{@product_order.billing_address.zip_code}" %></p>
            <p><%= @product_order.billing_address.address1%></p>
            <p><%= @product_order.billing_address.address2 %></p>
            <p><%= @product_order.billing_address.fax %></p>
          </div>
        </div>
      </div>
