<div class="navbar navbar-expand-lg navbar-dark sticky-top" role="navigation">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand logo" do %>
      <%= image_tag asset_pack_path("static/images/logo.svg"), placeholder: t("application.brand") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="active nav-item">
          <a href="<%= root_url %>#home" class="nav-link"><%= t("menu.home") %></a>
        </li>
        <li class="nav-item">
          <a href="<%= root_url %>#pricing" class="nav-link"><%= t("menu.pricing") %></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if merchant_signed_in? %>
          <li>
            <%= link_to t("buttons.go_to_store"), merchant_root_url(subdomain: current_merchant.shop.subdomain),
              class: "btn btn-primary" %>
          </li>
        <% else %>
          <li>
            <%= link_to t("menu.login"), new_merchant_session_path %>
          </li>
          <li>
            <%= link_to t("buttons.get_started"), new_merchant_registration_path, class: "btn btn-white-fill navbar-btn" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
