<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body data-spy="scroll" data-target="#navbar-menu">
    <div class="main-wrapper">
      <%= render "layouts/flash" %>
      <%= render "layouts/header" %>
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
    <a href="#" class="back-to-top" id="back-to-top"> <i class="pe-7s-angle-up"> </i> </a>
  </body>
</html>
